main {
    padding: 2em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    color: white;
}

h1{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 100px;
}

span {
    margin-left: 58%;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.imgSection {
    justify-content: space-around;
    display: flex;
    gap: 40px;
}

p {
    font-size: 25px;
}
img {
    max-width: 50vw;
    max-height: 50vh;
}